.all-h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 3.5rem;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  letter-spacing: 8px;
}

.difficulty-h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 3.5rem;
  margin: 0.5rem;
  letter-spacing: 8px;
}

.screen,
.active {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: block;
}

.time-score {
  font-family: "Times New Roman", Times, serif;
  width: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  position: absolute;
  margin-top: 5rem;
  margin-left: 16rem;
  font-size: 25px;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#difficulty-screen {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 22.5rem;
}

#easy-container,
#intermediate-container,
#hard-container {
  position: relative;
  background-color: black;
  width: 650px;
  height: 650px;
  margin: auto;
  margin-top: 7.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  border: solid 3px white;
}

#target {
  left: 20%;
  top: 20%;
  border-radius: 10rem;
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: white;
}

button {
  color: white;
  background-color: transparent;
  border: 2px solid;
  display: flex;
  display: block;
}

#start-button {
  font-size: 20px;
  padding: 0.3em 1em;
  letter-spacing: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.difficulty-buttons {
  padding: 0.3em 2em;
  font-size: 25px;
}

li {
  padding: 0.5rem;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.5em);
  transition-duration: 0.6s;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.homeBtn {
  margin: 2rem 0rem 20rem 0rem;
  width: 120px;
  font-size: 20px;
  position: absolute;
}

.time {
  margin-right: 1rem;
}
